<h1 class="h3">Add new Todo:</h1>
<form action="/todos" method="POST" autocomplete="off">
  <div class="mb-3">
    <label for="content" class="form-label">Content: </label>
    <input type="text" class="form-control" id="content" name="content" required>
  </div>
  <button class="btn btn-primary" type="submit">Add</button>
</form>