<h1>Login</h1>
{{> messages }}
<form action="/users/login" method="POST" autocomplete="off">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="password">
  </div>
  <button class="btn btn-primary" type="submit">Login</button>
  <a href="/users/login/facebook" class="btn btn-info">Facebook Login</a>
  <a href="/users/register" class="mx-3">Register</a>
  <a href="/">Homepage</a>
</form>