<h1>Register</h1>
{{> messages }}
<form action="/user/register" method="POST" autocomplete="off">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="username" value="{{ username }}">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="email" value="{{ email }}">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="password">
  </div>
  <button class="btn btn-primary" type="submit">Register</button>
  <a href="/user/login" class="mx-3">Login</a>
  <a href="/">Homepage</a>
</form>